body {
  background-color: #1f2937;
  color: whitesmoke;
  min-height: 75vmin;
  font-family: "Fira Code", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;

}

body,
.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pad {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  border: 4px solid whitesmoke;
  border-radius: 1vmin;
  width: 60vmin;
  height: 60vmin;
}

.cell {
  background-color: whitesmoke;
}

.btns {
  margin-top: 5vmin;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  flex: 0%;
  flex-wrap: 1;
  height: auto;

}


.color,
button {
  height: 4vmin;
  width: 9vmin;
  border-style: solid;
  justify-content: space-around;
  border-radius: 1vmin;
  display: inline-block;
  font-size: 1.9vmin;
}

h1 {
  text-align: center;
  font-size: 5.3vmin;
}